---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header';
import Hero from '../components/Hero';
import About from '../components/About';
import Skills from '../components/Skills';
import Experience from '../components/Experience';
import Projects from '../components/Projects';
import Contact from '../components/Contact';
import Footer from '../components/Footer';
import { getCollection } from 'astro:content';

const allProjects = await getCollection('projects');
---

<Layout title="Mi Portfolio">
  <Header client:load />
  <main>
    <Hero client:load />
    <About client:load />
    <Skills client:load />
    <Experience client:load />
    <Projects projects={allProjects} client:load />
    <Contact client:load />
  </main>
  <Footer client:load />
</Layout>
