---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-4" title="Sobre mi">
    <div class="flex flex-col gap-2">
        <p class="text-sm font-light">
            Mis principales herramientas de elección incluyen:
            <ul class="list-disc list-inside">
                <li>Python</li>
                <li>HTML</li>
                <li>CSS</li>
                <li>JavaScript</li>
                <li>C++</li>
                <li>Flask</li>
            </ul>
        </p>
    </div>
</Card>
