---
import Card from "./Card/index.astro";
interface Props {
    title?: string;
    body?: string;
    link?: string;
    link1?: string;
}
const { title, body, link1 } = Astro.props;
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-1" title={title}>
    <div class="flex flex-wrap">
        <p>{body}</p>
        <img src={link1} width="25" class="pt-5" alt="Logo Otra Tecnologia" />
        <img
            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg"
            width="25"
            class="pt-5"
            alt="Logo HTML"
        />
        <img
            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg"
            width="25"
            class="pt-5"
            alt="Logo CSS"
        />
        <img
            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg"
            width="25"
            class="pt-5"
            alt="Logo JavaScript"
        />
    </div>
</Card>
